# ArveX real payment + Discord + Pterodactyl automation
PAYHERE_MERCHANT_ID=""
PAYHERE_MERCHANT_SECRET=""
PAYHERE_SANDBOX="true"
PAYHERE_PORT=5001
PAYHERE_USD_TO_LKR=300

PUBLIC_ORIGIN="https://arvex.host"
INTERNAL_API_ORIGIN="http://127.0.0.1:5000"
AUTOMATION_INTERNAL_SECRET="CHANGE_TO_A_LONG_RANDOM_SECRET"
ARVEX_AUTOMATION_DATA_DIR="/var/www/arvex/data/automation"

DISCORD_BOT_TOKEN=""
DISCORD_GUILD_ID="1540991735595929680"
# Must be a CATEGORY channel ID. The previously supplied 1540995191727722557 is kept as the default fallback below.
DISCORD_TICKET_CATEGORY_ID="1540995191727722557"
DISCORD_STAFF_ROLE_ID=""

PTERODACTYL_URL="https://sgp.arvex.host"
PTERODACTYL_APPLICATION_TOKEN=""
PTERODACTYL_NEST_ID="1"
PTERODACTYL_EGG_ID="1"
PTERODACTYL_LOCATION_ID="1"
PTERODACTYL_NODE_ID="1"
PTERODACTYL_ALLOCATION_ID=""
PTERODACTYL_DOCKER_IMAGE="ghcr.io/pterodactyl/yolks:java_21"
PTERODACTYL_STARTUP="java -Xms128M -Xmx{{SERVER_MEMORY}}M -jar {{SERVER_JARFILE}}"
